html {
	font-family: 'Noto Sans JP', sans-serif;
	background-color: #BBBBBB;
}
h1 {
	color: darkred;
	text-align: center;
	font-size: 45px;
}
ul {
	list-style-type: none;
	font-size: 35px;
}
li{
	text-align: center;
}
table {
margin-left:auto;
margin-right:auto;
border-collapse: collapse;
}
th, td{
	border: 1px solid black;
	text-align: center;
}
th{
	font-size: 40px;
}
td{

	font-size: 35px;
}
img{
	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding: 5px;
  	width: 150px;
}